[submodule "ChisLights/lib/WillOS"]
	path = ChisLights/lib/WillOS
	url = git@github.com:william-redenbaugh/WillOS.git
[submodule "ChisLights/src/ArduinoCHAL"]
	path = ChisLights/src/ArduinoCHAL
	url = git@github.com:william-redenbaugh/ArduinoCHAL.git
[submodule "ChisLights/src/CHAL_SHARED"]
	path = ChisLights/src/CHAL_SHARED
	url = git@github.com:william-redenbaugh/CHAL_SHARED.git
[submodule "ChisLights/src/CSAL_SHARED"]
	path = ChisLights/src/CSAL_SHARED
	url = git@github.com:william-redenbaugh/CSAL_SHARED.git
[submodule "ChisLights/src/TeensyOSCSAL"]
	path = ChisLights/src/TeensyOSCSAL
	url = git@github.com:william-redenbaugh/TeensyOSCSAL.git
[submodule "ChisLights/src/WillOS"]
	path = ChisLights/src/WillOS
	url = git@github.com:william-redenbaugh/WillOS.git
[submodule "ChisLights/lib/SSD1734ArduinoDriver"]
	path = ChisLights/lib/SSD1734ArduinoDriver
	url = git@github.com:william-redenbaugh/SSD1734ArduinoDriver.git
